.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.cookie-1 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCiZAk232TeMj8Q3GVWnD01Ch_5bZZ2cheOQHUG5QUzfGSQ-rlbxT7uDZvXXQ1UsMgEaeFJatU6Fed-cB0to-kjN2Uy83mypjIg0HtpmLnb0bu6q4uo6j93IyeHsgz2OcEfrNyK5nxqcaBSzzDwcjPMjbNTZkKPRjTEoYW9GPOT9QtqDegKCQOSOoHezGmRHtF9SjDbi0qOhKDJss59V5kkNCgg_DeeQHBj6B3LnMubv2Rdifupf7WdtcRoegWwrngBBfLvdNoN6Cg");
}

.cookie-2 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAuHmlV3GHo_BKrIAk4j5UTnrhfjn6PyDDac88yQf25khcDG6E4LVwqWpTqi7nYFkpOFCRwcQw69n0MOwuaUNxJFXxxNHeNsqtrYzXs7nKxfSNIBP2e7UwsJU6yC8xtIshaaObCcZh9AbA2HOxGs4up4U-bgVic6Ub67Q6gGNmUocJOEwuLypafcL5lmCl33TYmWnhYbQRZ9G-zKxQ4p_EkKnY9khg_ZKpkYDX4CnP5ntnrmC4Pko4p6o8rVDVibt43SvtfFbeSUgE");
}

.cookie-3 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAw1k3Qo8IQafcDb4E1IddV6cNJJU-oZRYJYzdTzO1WQWzDTIc5nVhsQ4fpwTKfozd6YvzzSvphh-dRsTjf5lrQRdjcjZBgQ64pogfSifqX3RtjH4vnY_nPRrFb9WDJcF210dDNkzRQyl4x3QzXGKG1dYNaBa1P85xnH32rQqjivW4OKSpSNOGBWDQs8Pc1ENyxxMG1o_FshNZJsODepoA490yTKFefXJGyNZGOAVFmzn-yQ4F_LPFfVylF9YPopLn6BPcnNhkbDmg");
}

.cookie-4 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBYCpQqrjDBzEHvaWKCvdI67938EeMAqSNVxmHAy2PSJ8G_l4lrCF3Vv8QPXjwRfBi_4XWNtL-XPInY8J7LMllUn0wB7gBpbx2GaKlRfHXdG7fNb4mrZCj7phscPUD5sVfUhUVYBAyfG3ZWbBnc59Hio3Jz6n6Gek8HT7Nbri9WIcQgKRUY8hi3Dd1NnBl3tSe1Hi8xOXDKgwcvnaSc0grU01GNE9c-Jol7sjgyxNgCFFz-9_Z0V0_2ocR98cZDwMQejogbkzmSRXE");
}

.cookie-5 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDN_XqNblFQ9r8mIwv4giUZHW0hjH6LMoCsmklJdtzrKOkURiiF7dSxqdxTZlX9GG7ZA0NC1UJkdMV2Jo678HsVwJoOdm-cqkRHfwqMexloNPA6gs5ApzZE8I7XmUaWS5uTnZEHvCqFB8IwsN5HqKDc4jIVHejb7lOgFNPMv6aelBNvp8qiD3GUrdcIBnx05pGqOx-K1sG_5-ya6wKVSaxZxGcSV3haH1cSner6h8mGmD0LLnN9gRxy-RN476bwdnmDHFQj8RAcDdo");
}

.cookie-6 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCYmptUFQAEy7MYiKBXVRKE97ELviKn4Ys6BKtM3IIzauhNGjCqKJgmb8rvzLfpgFNcpfPSNgY8-XdHOr0wGAv6yvHF7mOukgQccTos0CHhKKX2A_flQWL1Z0OfUQyLLwVPcghwMcIoHxnMCZS3ICsUB3shlQHKFxfu-QFhAzvCZBpiajDokh8iDNPGr3Q0G8wCrOnTcfzUInfmZ9EOCEjojOUhzaaWNp_X2JSN-8QvQerxF0ckKJ7JjXC2jSV0KkLpHYRLFKTbIk4");
}

.cookie-7 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBdYTzASuR7vcA-uywI50PMvGZOZNxerKpriS89qwqS4UQMBJJD8HToMsGUEsNW-Ei4bcc2ml5UXdq2zfaYN0hzjdgbdRhEmreFmrn1ehE2p7_CVeVWbKjLrxJL8klwwZ-YSY7orKLHbgItY1DXCAysnUTn-OG2_aEIkEZ6kgTuLkCBTCJiwFeKKHJknNlPNksEEKP0F2RVSir8OBz33F81k5NB2_KBhE_YnHe_tOsRwk-qDoNqdmgq5wRHiXaJTQV6Itx0obngDgY");
}

.cookie-8 {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC5q_K_4EJ8iVkr7DepvH-tQ4ceA0H14iD_s6FHsWTvXrHjWm1IZqmg5gvHUf1yFyqE5m-VI8n73KXp-slGdrBbDU8w62C1CaNWzQQam0v2gpD-3-Mi5BbtGZgo8ZYl-o_4IoJcpj-qGAC7Q0Eovo7PMGiDg3GQ4exAz_y7XTtaIXdC3EYP7LmbJhLXTm2tBJCOrb5HzTCFV79A5XgjnGZ6XYDvf2lqVP4lVTkaEDb9_q6idteRbs-9gQw5jTg7P3tK2TpVLTit5j8");
}