.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.user-profile-pic {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA1swAOYA_AMfQJ7bvDXlOhKq_NjhAntAT74t-QvLpU0boL7U1aaqg8TydovuhIip4KTylKc2QNK6qRt4sDjIhPGdCegriQQykYu4djHRKPrZqPm3wSAHMM-3De6N5gW6vHQeOyn09HixWaz-a-i6HJ67OYVWD77Z1qovCAh5FCDQ-auR0QA0U630gnvobAG2J6566HWq_VdriW3JZ2F2dhUYMkD8SdCCRJhrcsOmfgWXid0hMBhkafCGJryNEpYJl3aSx8YDP7pAs");
  background-size: cover;
  background-position: center;
}
